* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Multi", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  list-style: none;
}

@media only screen and (max-width: 600px) {
  #header h1 {
    margin-left: 3rem;
  }
  .header-img {
    width: 100%;
    height: auto;
  }
  .header h1 {
    margin: auto;
  }
  .header h2 {
    width: 100%;
  }
  .card-img img {
    height: auto;
  }
  .main-contact-form, .main-contact-details {
    margin-bottom: 20px;
  }
  .navbar-toggler {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-button {
    font-weight: 200;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 40px;
    -webkit-transition: 0.5;
    transition: 0.5;
    color: #de0f27;
    border: 2px solid #de0f27;
    text-decoration: none;
  }
  .Common h1 {
    text-align: center;
  }
  .Common .brand-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50% !important;
  }
  .Common h1 {
    text-align: center;
  }
  .Common .brand-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-breadcrumb {
  margin: 20px 0;
}

.main-breadcrumb h2 {
  text-align: center;
}

.navbar a {
  font-size: 1.3rem !important;
  color: #565387;
}

.navbar a:hover {
  color: #de0f27;
}

.navbar nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #565387;
  text-decoration: none;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}

.card-body .brand-name {
  color: #de0f27;
}

.card-body h1 {
  font-weight: 700;
}

.card-body h2 {
  color: #565387;
  font-size: 20px;
}

.card-body .btn-get-started {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  -webkit-transition: 0.5;
  transition: 0.5;
  color: #de0f27;
  border: 2px solid #de0f27;
  text-decoration: none;
}

.card-body .btn-get-started:hover {
  background: #de0f27;
  color: #fff;
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  -webkit-transition: 0.5;
  transition: 0.5;
  color: #de0f27;
  border: 2px solid #de0f27;
  text-decoration: none;
}

.main-button:hover {
  background: #de0f27;
  color: #fff;
}

.btn-get-started {
  background-color: #fff;
}

.footer {
  background-color: #fcf7f1;
  text-align: center;
}

.footer p {
  margin-bottom: 0% !important;
  margin-top: 0% !important;
}

.contactpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Contact-company {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Common .brand-name {
  color: #de0f27;
}

.Common h1 {
  font-size: 2rem;
}

.Common h2 {
  font-size: 1.5rem;
}

.Common .contact {
  color: #de0f27;
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px #de0f27;
}

.navbar-left img {
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar-right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-right .navbar-nav {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card-text {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-contact-form, .main-contact-details {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 6px 2px #0000000f;
          box-shadow: 0px 0px 6px 2px #0000000f;
  border-radius: 10px;
}

.card-single {
  margin: 15px 0;
  padding: 10px;
  border: none;
  -webkit-box-shadow: 0px 0px 6px 2px #0000000f;
          box-shadow: 0px 0px 6px 2px #0000000f;
}

.card-single img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=style.css.map */