/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Multi",sans-serif;

}
nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ;
}
.navbar-brand{
    font-size: 1.9rem!important;
    color: #565387!important;

}
.navbar a{
    font-size: 1.3rem!important;
    color: #565387!important;
 }
 
.navbar a:hover{
  
   color: #650303de!important;
}

.menu_active{
    font-weight: bold;
    border-bottom: 1px solid #d30808;
}

#header{
    width: 100%;
       
}
#header h1{
    font-weight: 700;
}
#header .brand-name{
    color: #
    
}
#header h2{
    color: #484848;
    font-size: 24px;
}
.btn-primary.active, .btn-primary:active, .show {
    color: #fff;
    background-color: #ad0f0f;
    border-color: #ec1111;
}

#header .btn-get-started{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5;
    color: #ce0d20;
    border:  2px solid #ce0d20;
    text-decoration: none;

}
.btn-outline-primary {
    color: #ce0d20;
    border-color: #ce0d20;
}
#header .btn-get-started:hover{
    background: #ce0d20;
    color: #fff;
}
.btn-outline-primary:hover{
    background: #ce0d20;
    color: #fff;
}
#header-img{
    text-align: right;
}

.footer{
    background-color: rgb(252, 247, 241);
    text-align: center;
}

.card-text{
  white-space: nowrap; 
  width: 40%; 
  overflow: hidden;
  text-overflow: ellipsis; 
  border: 1px solid #000000
}
/* .container{
    display:flex
} */
/* .container contact_div{
    display: flex;
    box-direction: row;
} */  